<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
    <div id="outer">

        <div id ="Heading">
             <h1> ToDo List </h1>
        </div>

    <div id ="form">

        <form action="/post_task" autocomplete="off" method="POST">
        
            <div class="Description" style="border-bottom: 1px solid gray;">
                <label for="name" style="padding: 5px; margin: 0px 0px 100px 0px ;">Description</label>
                <input style="color:gray" type="text" class ="remove"name="description" id="name" placeholder="What do you need to do?" required>
            </div>
            <div id="select">
            <span class ="Category" >
                <label for="select-category">Category</label>

                        <select name="category"  class ="remove"id="select-category">
                            <option value="">--Please choose an option--</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Other">Other</option>
                        </select>
                    </span>

              <span class="Category" style="margin-left: 100px;">
                <label for="start">Start date:</label>

                <input class ="remove "type="date" id="due" name="duedate" value="YYYY-MM-DD">
                
              </span>
    
            </div>

            <span class ="Buttons">

                <button class="favorite styled" type="submit">   
                    Add to favorites    
                </button>

            </span>


        </form>


    </div>

    <% for(let i of taskList){ %>

    <div id ="cards">
       
        <div id="check">
        <input type="checkbox" id="scales" value="delete"name="delet" >
        </div>
        <div id ="inside">
            <div id="des">
                <i class="fas fa-clipboard"></i>
                <%= i.description %>

            </div>
            <div id="dueDate">
                <% dateString = new Date(i.dueDate).toUTCString();
                dateString = dateString.split(' ').slice(0, 4).join(' '); %>
                <%= dateString %>
            </div>

        </div>

        <div id ="category">

            <%= i.category %>

        </div>




    </div>

    <% } %>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>